/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: auto;
    max-width: 700px;
    padding: 0;
    background-color: rgb(36, 36, 36);
    color: rgb(235, 235, 222);
}

/* Header */
header {
    background-color: #1e1e2f;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #1e1e2f;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

/* Main en grilla */
main {
    background-color: #f4f4f9;
    padding: 10px;
    color: #222222;

    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;   
    grid-gap: 10px;   
    justify-content: center;  
    align-items: center;
}

/* Divs dentro del main */
main div {
    background-color: #e0e7ff;
    color: #1a237e;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}

/* Estilo para el enlace tipo botón */
a {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    display: block;
    width: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo para el hover del enlace - según consigna */
a:hover {
    background-color: rgb(94, 53, 53);     
}

/* Imágenes */
img {
    width: 100%;
    height: auto;
    display: block;
}

/* Estilo para los iframes */
iframe {
    width: 100%;
    height: 200px;
}

/* Ajuste de alineación interna para cada div */
main > div {
    height: 100%;
    display: grid;   
    align-items: center;  
}

